.bannerImg{
    width: 100vw;
    height: 99vh;
    background-size: cover;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.97;
    width: auto;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.field{
    border: 1px solid #adadad;
    display: block !important;
    width: 25vw !important; 
}

.loginBtn{
    width: 25vw !important;
    margin-top: 20px; 
}

.cancelBtn{
    width: 25vw !important;
}

.row>* {
    width: 25vw;
}

.header{
    color: red;
    align-items: center;
}

::placeholder {
    color: #adadad !important;
    opacity: 1; /* Firefox */
}

.text-danger{
    color: red;
    position: relative;
    margin-left: 9px;
}