.bannerImg{
    width: 100vw;
    height: 99vh;
    background-size: contain;
    object-fit: cover;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.97;
    width: 30%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 20px;
    justify-content: center;
}

.field{
    border: 1px solid #adadad;
    display: block !important;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.loginBtn,
.cancelBtn {
  width: 100%;
  padding: 10px;
}

.header{
    color: red;
    align-items: center;
}

::placeholder {
    color: #adadad !important;
    opacity: 1; /* Firefox */
}

.text-danger{
    color: red;
    position: relative;
    margin-left: 9px;
}

@media only screen and (max-width: 600px) {
    .card{
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    .card{
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .card{
        width: 35%;
    }
}