.search-navbar{
    background-color: black ;
    color: white ;
    width: 30vw;
}

::placeholder {
    color: white !important;
    opacity: 1; 
}

.profile{
    position: absolute;
    top: 10%;
    right: -2%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #141414;    
    width: auto;
    font-size: 1em;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 0;
    z-index: 00;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #141414;
    background-color: white;
    border-radius: 15px;
    padding: 0;
}
 li:hover{
    color: white;
    background-color: grey;
    
 }

 .userLogo{
    position: absolute;
    display: flex;
    /* right: 5px; */
    justify-content: flex-end;
  }

  

.navbar-header {
    /* background-color: #282c34;  */
    text-align: left;
    position: relative;
    margin-left: 5px;
    margin-top: 20px;
    color: red
  }

  
.favourites{
    position:absolute;
    display: flex;
    right: 56px;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 30;
    font-size: 22px;
  }
  
@media only screen and (max-width: 600px) {
    .search-navbar{
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    .search-navbar{
        width: 50vw;
    }
}

@media only screen and (min-width: 992px) {
    .search-navbar{
        width: 40vw;
    }
}

.userIcon{
    width: 23px;
}

.favourite-icon{
    position: absolute;
    width: 25px;
    top: 16px;
    right: 85px;
}

.theme-icon-style{
    position: absolute;
    top: 19px;
    width: 21px;
    right: 8%;
    z-index: 45;
}


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 22vh;
    top: 0;
    right: -25px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 13px;
  }
  
  .sidepanel a {
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: -9px;
    right: 23px;
    font-size: 30px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    right: 0;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  .hamburgerMenu{
    position: absolute;
    right: 0;
    top: 17px;
    background: none;
    border: none;
    color: white
  }

  .iconSize{
    font-size: 16px;
  }