.App {
  text-align: center !important;
  background-color: black !important;
  font-family: sans-serif;
}

.movie-container {
  background-color: #141414 !important;
  height : 100vh;
  color: white
}

.movie-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.mouse-pointer{
  cursor: pointer;
}

.container{
  display: block;
}