.App {
  text-align: center !important;
  background-color: black ;
  font-family: sans-serif;
}

.movie-container {
  background-color: #141414 ;
  height : 100vh;
  color: white
}

.movie-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.mouse-pointer{
  cursor: pointer;
}

.container{
  display: block;
}

.homeBtn{
  position: absolute;
  display: flex;
  /* right: 5px; */
  justify-content: flex-start;
}